.form {
  display: flex;
  justify-content: center;
}

.form-error {
  color: #212529;
  background-color: #fff;
  border-color: #ee5252;
  outline: 0;
  box-shadow: -4px 4px 5px 0rem rgb(253 13 13 / 25%);
}

.form-control {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.form-control:focus {
  box-shadow: -4px 4px 5px 0rem rgb(13 110 253 / 25%);
}

.error-message {
  color: red;
}

.success-message {
  color: rgb(10, 207, 10);
}

.btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
